{% extends 'base.html.twig' %}

{% block title %}Hello VoitureController!{% endblock %}
{% block monTitle %}Listes des voitures{% endblock %}

{% block body %}
{{form_start(form)}}
<div class="row no-gutters align-items-center text-center">
    <div class="col">
        {{form_row(form.minAnnee)}}
    </div>
    <div class="col">
        {{form_row(form.maxAnnee)}}
    </div>
    <div class="col-2">
        <input type="submit" value="rechercher" class="btn btn-info">
    </div>
</div>
{{form_end(form)}}
<a href="" class="col btn btn-success d-block">Ajouter</a>




<div class="row no-gutters">
    {% for voiture in voitures %}
    <div class="col-12 col-lg-6 p-1">
        <div class="card mb-3">
            <div class="row no-gutters align-items-center p-2">
                <div class="col-12 col-md-4">
                    <img src="{{asset('image/' ~ voiture.modele.image)}}" alt="" class="card-img">
                </div>
            </div>
            <div class="col">
                <div class="card-body">
                    <h5 class="card-title">{{voiture.immatriculation}}</h5>
                    <p class="card-text">
                        <div>marque : {{voiture.modele.marque.libelle}}</div>
                        <div>modele : {{voiture.modele.libelle}} - {{voiture.modele.prixMoyen}} €</div>
                        <div>Nombre de portes : {{voiture.nbrPortes}}</div>
                        <div>Année : {{voiture.annee}}</div>
                    </p>
                </div>
            </div>
            {% if admin %}
            <diV class="row no-gutters">
                <a href="{{path('admin.creat.modif',{'id' : voiture.id})}}" class="col btn btn-warning">Modifier</a>
                <a href="" class="col btn btn-danger">Supprimer</a>
            
            </diV>
            {% endif %}

        </div>
    </div>
        



    {% endfor %}
    {# display navigation #}
<div class="navigation">
    {{ knp_pagination_render(voitures) }}
</div>
</div>
{% endblock %}
